*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.container{
    .row{
         .title{
            h1{
                padding-top: 20px;
                color: darkblue;
                display: inline;
                padding-right: 700px;
            }
        }
        .card-text{
            overflow:hidden;
            max-height: 45px;
        }
        .section1:hover, .section2:hover, .section3:hover{
            transform: scale(1.03);
            transition: transform 1s, filter 1s ease-in-out;
        }
        .section1, .section2, .section3{
            margin-top: 30px;
        }
        
    }
}
.parallax{
    background: url("./img/solutions_bg-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 50px;
    max-width: 1300px;
    height: 500px; 
    .parallax-inner{
        margin-top: 10%;
        .row .title span{   
            font-size: 80px;
            font-weight: bold;
            color: white;
            margin: 0 auto;
        }
        .text{
            height: 500px;
            background-color: rgb(65, 65, 151);
            opacity: 0.9;
            position: absolute;
            z-index: 122;
            p{
                margin: 0 auto;
                color: white;
                font-size: 25px;
            }
        }
    }
}